* {
    margin: 0;
}

/* try to add the box shaow bcz whta the heck */

header {
    background-image: url(bg_header.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(0, 0, 0, 0.5);
    width: auto;
    height: auto; */
}

.nav-bar nav {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

header>div:first-child>p {
    color: rgb(246, 186, 7);
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

.nav-bar nav p a {
    text-decoration: none;
    color: white;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.presentation {
    text-align: center;
    padding: 65px;
    color: white;
}

.presentation p {
    font-size: 30px;
    font-style: italic;
    padding-bottom: 18px;
}

.presentation .larger-p {
    font-style: normal;
    font-size: 50px;
    font-weight: bolder;
}

.presentation button {
    padding: 15px;
    width: 170px;
    background-color: rgb(241, 195, 58);
    font-weight: bold;
    color: white;
    border: none;
}

#services .pres{
    text-align: center;
    padding: 50px 0 20px 0;
}
.pres h2{
    font-weight: bold;
}
.pres p{
    color: gray;
    font-style: italic;
    padding-top: 8px;
}